body {
    font-family: "Garamond", "Geneva", sans-serif;
    color: black;
    background-color: white;
    text-align: center;
}

a {
    font-weight: 800;
}

.desc {
    display: flex;
    font-size: 20px;
    width: 1200px;
    border: 1px solid #820300;
    margin: 10px auto;
    padding: 8px 4px;
    color: #B80000;
    background-color: #5F8670;
}

.thumb {
    display: inline;
}

.ingredients {
    width: 400px;
    border: 1px solid #820300;
    margin: 10px auto;
    padding: 8px 4px;
    color: #B80000;
    background-color: #5F8670;
}

.steps {
    width: 800px;
    border: 1px solid #820300;
    margin: 10px auto;
    padding: 8px 4px;
    color: #B80000;
    background-color: #5F8670;
}